<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <%- include("partials/head.ejs") %>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <%- include("partials/header.ejs") %> 
            <h1> This is Feed </h1>
            <main>
                <div class="col s12 m6">
                    <ul class="collection">
                        <% post.forEach( p => { %>
                        <li class="collection-item avatar black">
                            <span class="title"> <a href="/thread/<%= p.id  %>"><h2><%= p.user  %></h2></span>
                            <p>  
                            <h3 class="white-text"><%= p.date.toLocaleDateString("en-US") %></h3><br>
                            <h4 class="white-text"><%= p.description %></h4><br>
                            </p>
                            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                            
                        </li>
                            <% }) %>

                    </ul>
            </main>
            <%-include ("partials/footer.ejs") %>

    </body>
</html>