<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <%- include("partials/head.ejs") %>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <%- include("partials/header.ejs") %> 
            <h1> This is profile </h1>
            <div>
                <div>
                    <% post.forEach( p => { %>
                        <h2><%= p.user  %></h2>
                        <h3><%= p.date %></h3>
                        <h4><%= p.description %></h4>   
                        <form class="form" action="/editpost/<%=p.id%>"><button>Edit</button></form>
                        <form class="form" action="/post/<%=p.id%>?_method=DELETE" method="post"><button>Delete</button></form> 
        
                        <% }) %>
        
                        <form class="form" action="/newpost/"><button>New Post</button></form>

                    </div>
                <aside>
                    <% media.forEach( m => { %>
                        <h2><%= m.user  %></h2>
                        <img src="<%= m.img  %>" alt="m.user media post">
                        <form class="form" action="/media/<%=m.id%>?_method=DELETE" method="post"><button>Delete</button></form>
                        
        
                        <% }) %>
                        <form class="form" action="/newmedia/"><button>Add Image </button></form>

                </aside>

           
            </div>
            <%-include ("partials/footer.ejs") %>

    </body>
</html>