<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <%- include("partials/head.ejs") %>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <%- include("partials/header.ejs") %> 
            
            <main>
                <h1> This is profile </h1>
                <div class="col s12 m6">
                    <ul class="collection">
                        <% post.forEach( p => { %>
                        <li class="collection-item avatar black">
                            <span class="title"> <a href="/thread/<%= p.id  %>"><h2><%= p.user  %></h2></span>
                            <p>  
                            <h3 class="white-text"><%= p.date.toLocaleDateString("en-US") %></h3><br>
                            <h4 class="white-text"><%= p.description %></h4><br>
                            </p>
                            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                            
                            <form class="form" action="/editpost/<%=p.id%>"><button class="waves-effect waves-light btn round white black-text">Edit</button></form>
                            <form class="form" action="/post/<%=p.id%>?_method=DELETE" method="post"><button class="waves-effect waves-light btn white black-text">Delete</button></form> 
                          
                        </li>
                            <% }) %>
                        <div class="collection-item avatar ">
                                <form class="form" action="/newpost/"><button class="waves-effect waves-light btn-large black white-text">New Post</button></form>
                        </div>
                </ul>
            </div>
               
               
               <div class="col s12 m6">
                <ul class="collection black white-text">
                    <% media.forEach( m => { %>
                        <div class="card ">
                        <h2><%= m.user  %></h2>
                        <div class="card-image  ">
                          <img src="<%= m.img %>" class="circle responsive-img" alt="m.user media post">
                        </div>
                          <form class="form" action="/media/<%=m.id%>?_method=DELETE" method="post"><button class="waves-effect waves-light btn white black-text">Delete</button></form>
                        </div>
                        <div class="divider"></div>
                        <% }) %>
                        
                </ul>
                    <div class="collection-item avatar">
                        <form class="form" action="/newmedia/"><button class="waves-effect waves-light btn-large black white-text">Add Image </button></form>
                    </div>

               </div>
            </main>
            <%-include ("partials/footer.ejs") %>

    </body>
</html>